*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url('https://sessaodastres.files.wordpress.com/2018/10/791_orgulho-preconceito-05.jpg');
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
div.ParteObrigatoria {
    padding: 10px;
}
.titulo{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.fundo-texto{
    background-color: black;
    opacity: 0.9;
    width: 80%;
    padding: 5%;
}
.ParteNumerada {
    border-radius: 10px;
}
footer{
    display: flex;
    align-items: center;
}
.tabela{
    border-spacing: 5px;
    border-collapse: separate;
}