*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url(./assets/fundo.jpg);
    /* background-repeat: no-repeat; */
    background-size: auto;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
div.ParteObrigatoria {
    padding: 10px;
}
.titulo{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.fundo-texto{
    background-color: black;
    opacity: 0.9;
    width: 80%;
    padding: 5%;
}
.ParteNumerada {
    border-radius: 10px;
    height: 70%;
    overflow-y: scroll;
    margin-bottom: 10px;
}
footer{
    display: flex;
    align-items: center;
}
.tabela{
    border-spacing: 5px;
    border-collapse: separate;
}